.item {
    padding: 10px;
    cursor: pointer;
    color: white;
    width:100%;
    text-align: center;
    background-color: rgb(52, 160, 255);
}

.item:hover {
    color: gold;
    text-shadow: 0 0 5px black;
    background-color: rgb(26, 148, 255);
}