.productInfoPanel{
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 5px dashed rgb(199, 199, 199);
    background-color: rgb(235, 235, 235);
}

.productInfoPanel img {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: block;
}

.productDescription {
    padding: 10px;
    font-size: 18px;
    background-color: rgb(235, 235, 235);
    text-align: justify;
}